<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/mycss.css">
    <link  rel="icon" href="ico/icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
         {{>header}}
     <script>document.getElementById('aboutPage').style.display = 'none'; </script>
    <div class="container">
            <div class="card" style="width: 200px;">
                    <div class="card">
                            <div class="card-header">
                                    Desktop notes application 
                                  </div>
                            <div class="card-body">
                              <h5 class="card-title">By Abdelrahman Mahmoud</h5>
                              <p class="card-text">MEAN Stack Developer.</p>
                              <a href="https://github.com/Abdofcih" class="btn btn-primary">Github</a>
                              <a href="https://www.facebook.com/pooda98" class="btn btn-primary">Facebook</a>
                            </div>
                          </div>
                  </div>
    </div>
</body>
</html>